@import url("https://fonts.googleapis.com/css?family=Merienda");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
  box-sizing: border-box;
  font-family: 'Merienda' ;
}

.App {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2%;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}


